body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6rem;
  color: #000000;
}

section {
  padding-bottom: 160px;
}

h1 {
  margin-bottom: 80px;
  font-size: 3.355rem;
  z-index: 20;
}

ul {
  list-style-type: none;
  line-height: 2;
  margin: 0;
  padding: 0;
}

li span {
  border-bottom: 2px solid #f5f5f5;
  font-size: 1.5rem;

  transition: border-color 0.4s ease;
}

li span:hover {
  border-color: #f53f3f;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* First block: heading */

.introduction {
  width: 100%;
  padding-bottom: 0px;
  background-color: #272727;
}

/* Navigation */

.header {
  width: 100%;
  max-width: none;
  height: 91px;
}

.header-content {
  margin: 0;
}

.nav {
  justify-content: space-between;
}

.nav-link {
  display: inline-block;
  padding: 0;

  text-decoration: none;
  color: #fff;
}

.contacts {
  padding-right: 15px;
  text-align: center;
  color: #fff;
}

.langs {
  margin-left: 50px;
  justify-content: space-between;
}

/* Introduction content */

.title-white {
  margin-top: 66px;
  color: #fff;
}

/* Introduction: SVG Curve */

.header-curve {
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 8vh;
  height: 100%;
}

/* Section: Services */

.services {
  background-color: #f5f5f5;
}

.bus-img {
  width: 100%;
  height: auto;
}

.bg-circles {
  position: absolute;
  z-index: 0;
}

.red-marker {
  position: absolute;
  opacity: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #f53f3f;

  transition: opacity 0.4s ease;
}

/* Section: Solutions */

.solutions {
  background-image: url("../img/solution_bg.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-bottom: 320px;
}

/* Timeline */

.tl-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #e5e5e5;
  background: #4fc1e9;
  z-index: 9999;
}

.tl-block {
  height: 120px;
}

.tl-number {
  font-size: 55px;
  text-align: center;
  color: #3c77e9;
}

/* Section: Feedback */

.feedback {
  background: linear-gradient(194deg, #3798f1 -10.24%, #406ff5 104.88%), #0041ac;
}

.feedback-bus {
  width: 100%;
  position: relative;
  margin-top: -15%;
}

/* Feedback form */

.button {
  width: 100%;
  height: 66px;
  margin: 10px 0;

  line-height: 66px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;

  background-color: #f53f3f;
  color: #fff;
}

.button:hover {
  filter: brightness(120%);
}

input {
  width: 100%;
  height: 66px;
  padding: 0 20px;
  margin: 10px 0;
  border: none;
}

/* Section: Our Pros */

.tft-card {
  width: 100%;
  height: 314px;
  padding: 30px 30px;
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
  color: #212121;
}

.tft-card-img {
  padding-top: 10px;
  height: 94px;
  width: 94px;

  position: absolute;
  transition: 0.7s ease;
}

.tft-card-title {
  font-size: 24px;
  padding-top: 114px;

  font-weight: 600;

  transition: padding-top 0.7s ease;
}

.tft-card-text {
  padding-top: 10px;
  z-index: 20;
  opacity: 1;
}

.tft-card-additional-text {
  padding-top: 20px;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

.tft-card:hover {
  color: #ffffff;
  background: linear-gradient(#3798f1, #406ff5);
}

.tft-card:hover .tft-card-title {
  padding-top: 0px;
}

.tft-card:hover .tft-card-additional-text {
  opacity: 1;
}

.tft-card:hover .tft-card-img {
  height: 250px;
  width: 250px;

  opacity: 0.5;
  z-index: 1;
}

.laptop {
  padding-top: 100px;
  width: 100%;
}

.our-pros {
  padding-bottom: 0;
  background-image: url("../img/laptop-bg.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.partners {
  padding-bottom: 20px;
}

/* Section: Footer */

.ending {
  width: 100%;
  padding-top: 69px;
  padding-bottom: 0px;
  background-color: #272727;
  color: #ffffff;
}

.contact-refs {
  font-size: 1.8125rem;
}

.row-address {
  margin-top: 48px;
}

.subhead {
  margin-top: 65px;
  margin-bottom: 47px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
}

.ending hr {
  margin-top: 86px;
  background-color: #ffffff;
}

.footer {
  font-size: 1.125rem;
  padding-top: 20px;
}

.mirro-logo {
  padding-bottom: 14px;
  width: 100%;
}

/* ============ Media =============== */

@media (max-width: 575.98px) {
  body {
    font-size: 0.875rem;
  }

  section {
    padding-bottom: 60px;
  }

  h1 {
    font-size: 1.625rem;
    margin-bottom: 55px;
    text-align: center;
  }

  li span {
    font-size: 0.875rem;
  }

  .bus {
    margin: 60px 0 30px;
  }

  .title-black {
    margin-top: 60px;
  }

  .v-card div {
    font-size: 1rem;
  }

  .contacts-col {
    display: none;
  }

  .contact-refs {
    font-size: 1.375rem;
  }

  .feedback .title-white {
    margin-top: 60px;
  }

  .footer {
    font-size: 0.875rem;
  }

  .solutions {
    padding-bottom: 90px;
  }

  .ending {
    padding-top: 0px;
  }

  .laptop {
    display: none;
  }

  .our-pros {
    background: none;
  }

  .red-marker {
    height: 1em;
    width: 1em;
  }

  .subhead {
    margin-top: 48px 0;
    font-size: 1.25rem;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 0.875rem;
  }

  section {
    padding-bottom: 90px;
  }

  h1 {
    font-size: 2.25rem;
    margin-bottom: 64px;
  }

  li span {
    font-size: 1.125rem;
  }

  .bus {
    margin: 144px 0 70px;
  }

  .title-black {
    margin-top: 90px;
  }

  .v-card div {
    font-size: 1.125rem;
  }

  .contacts-col {
    display: none;
  }

  .feedback .title-white {
    margin-top: 90px;
  }

  .footer {
    font-size: 0.875rem;
  }

  .red-marker {
    height: 1em;
    width: 1em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 0.875rem;
  }

  section {
    padding-bottom: 120px;
  }

  h1 {
    font-size: 2.875rem;
    margin-bottom: 72px;
  }

  li span {
    font-size: 1.375rem;
  }

  .bus {
    margin: 156px 0 76px;
  }

  .title-black {
    margin-top: 120px;
  }

  .v-card div {
    font-size: 1.375rem;
  }

  .feedback .title-white {
    margin-top: 160px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  section {
    padding-bottom: 150px;
  }

  h1 {
    font-size: 2.875rem;
    margin-top: 152px;
    margin-bottom: 72px;
  }

  li span {
    font-size: 1.375rem;
  }

  .bus {
    margin: 156px 0 76px;
  }

  .title-black {
    margin-top: 150px;
  }

  .v-card div {
    font-size: 1.375rem;
  }
}

@media (min-width: 1200px) {
  .bus {
    margin: 180px 0 90px;
  }

  .title-black {
    margin-top: 170px;
  }

  .v-card div {
    font-size: 1.5rem;
  }
}

@media (min-width: 1599px) and (max-width: 1919.98px) {
  .nav {
    margin-right: 100px;
  }
}

@media (min-width: 1920px) {
  .nav {
    margin-right: 270px;
  }
}
